<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title font-weight-bold">Register Student</h3>
                        <!-- <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div> -->
                        <form class="register-form" #f="ngForm" (ngSubmit)="register(f.value)">

                            <!-- <label>Name</label>
                            <div class="input-group form-group-no-border">
                                <input required ngModel name="name" type="text" class="form-control"
                                    placeholder="Name...">
                            </div> -->

                            <label>Email</label>
                            <div class="input-group form-group-no-border">
                                <input required ngModel name="email" type="text" class="form-control"
                                    placeholder="Email">
                            </div>
                            <!-- <label>Gender</label>
                            <div class="input-group form-group-no-border">
                                <select required ngModel name="gender" class="form-control" id="">
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                </select>
                            </div>

                            <label>Age</label>
                            <div class="input-group form-group-no-border">
                                <input required ngModel name="age" type="number" class="form-control"
                                    placeholder="Age...">
                            </div>

                            <label>Bio</label>
                            <div class="input-group form-group-no-border">

                                <textarea required ngModel name="bio" id="" placeholder="Bio..." class="form-control"
                                    rows="4"></textarea>
                            </div> -->
                            <label>Password</label>
                            <div class="input-group form-group-no-border">
                                <input required ngModel name="password" type="text" class="form-control"
                                    placeholder="Password">
                            </div>
                            <button [disabled]="!f.valid" type="submit"
                                class="btn btn-danger btn-block btn-round">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>